
/*Couleurs des alertes */
$succes:lime;
$danger:red;
$warning:orange;
$information:cyan;

/*Gestion de la grille */
$nb:12;
$case:6.86%;
$gutter:1.6%;

/*tailles des boutons */
$heightSmall: 20px;
$heightMedium: 75px;
$heightLarge: 200px;