@import "_alert";
@import "_bouton";
@import "_flex-nav";
@import "_grille";

.menu{
    @include menu();
    background-color: orange;
    &>li{
        &>a{
        text-decoration:none;
        color:black;
        font-size : 2em;
        
        }
        border:none;
    margin-left:2%;
    @media screen and (max-width:640px){
        border-bottom:dashed 1px black;
        width:93vw;
        height:23vh;
        text-align:center;
    }
    @media screen and (max-width:1080px) and (min-width:640px){
       
        border:none;
        width:25vw;
        
        text-align:center;
        }
    
        @media screen and (min-width:1080px){
       
            border:none;
            margin:15px;
            
            }
    }
    
    }

.alert-success{

  @include alrt("success");
}

.cefini{

    @include alrt("danger");
}

.attention{

    @include alrt("warning");
}

.message-info{
  
    @include alrt("info");
}
.btn-small{
    @include taille("small");
}
.btn-medium{
    @include taille("medium");
}
.btn-large{
    @include taille("large");
}

.btn-red{
    @include color(red);
}
.btn-blue{
    @include color(blue);
}
.btn-green{
    @include color(green);
}

.btn-flat{
    @include style("flat");
}
.btn-classic{
    @include style("classic");
}
.btn-outline{
    @include style("outline");
}

.rouge{
    @include couleur(red);
}
.bleu{
    @include couleur(cyan);
}
.vert{
    @include couleur(green);
}
