div{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-end;

}
.flex-container{
height:30em;
}
p{
height:8em;

}

.item{
flex-basis:12em;

}

.ci{
order:-1;
flex-grow:5;
}

