$succes:lime;
$danger:red;
$warning:orange;
$information:cyan;
@mixin alert {
    border: solid 1px black;
}

@mixin success($color) {
background-color: $color;

}

@mixin alrt($type) {
    @include alert;

    @if ($type == "success"){
        @include success($succes);
    }
    @else if($type == "danger"){
        @include success($danger);
    }
    @else if($type == "info"){
        @include success($information);
    }
    @else if($type == "warning"){
        @include success($warning);
    }
    @else{
        @include success(grey);
    }
}